/*
 * Bootstrap configuration
 */

/* Scaffolding */
$body-bg			: #252525;



/* Buttons */
$btn-primary-bg		: #6fd64b;
$btn-primary-border	: #6fd64b;
$btn-primary-color	: #FFF;



/*
 * Application colors
 */
 
$headerColor	: #FFF;
$introTextColor	: #FFF;
