/*
 * Bootstrap configuration
 */

/* Scaffolding */
$body-bg			: #252525;
$text-color			: #FFF;


/* Buttons */
$btn-primary-bg		: #6fd64b;
$btn-primary-border	: #6fd64b;
$btn-primary-color	: #FFF;



/*
 * Application variables
 */
$icon-font02		: 'ss-icon';

/* 
 * Colors 
 */
$headerColor	: #FFF;
$introTextColor	: #FFF;
$logoTextColor	: #222;
$logoBorderColor: $logoTextColor;
/* 
 * Sports
 */
$soccerColor	: #6fd64b;
$tennisColor	: #ffd154;
$footballColor	: #eea54e;
$gamingColor	: #00ccff;
